.nav-top
{
    background-color: #294860;
    height: 60px;
    width: 100%;
}

.admin{
    margin-top: 40px;   
}

.login-form{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 160px;
}