/* GLOBAL CHANGES */

@font-face {
    font-family: dense;
    src: url(../fonts/Dense-Regular.otf);
}

@font-face {
     font-family: bitter;
    src: url(../fonts/bitter-regular.otf);
}

#mainwrap.boxed {
    background: none repeat scroll 0 0 #FFFFFF;
}
.color-grey-bg {
    background-color: #EFEFEF;
}
.dark-grey-bg {
    background-color: #294860;
}
.light-grey-bg {
    background-color: #EFEFEF;
}
.bold {
    font-weight: bold;
}
*::-moz-selection {
    background-color: #ff6c5d;
    color: #414146;
}
.bw-wrapper canvas {
    cursor: pointer;
}
#header {
}
.header-logo-container {
    float: left;
}
.header-container-right {
    float: right;
}
.social-links-container {
    float: right;
}
.header-rr-container {
    margin-bottom: 5px;
    margin-top: 22px;
}
.header-position {
    position: absolute;
    z-index: 99999;
}
.header-container {
    background-color: #294860;
}
.logo-footer-container {
    background-color: #565A60;
}
.logo-footer-container a {
    margin: 0;
    padding: 55px 50px;
}
.logo {
    display: block;
    height: 20px;
    margin-bottom: 25px;
    margin-left: 27px;
    margin-top: 17px;
    width: 200px;
	font-family: bitter ,Arial,Helvetica,sans-serif;
    font-size: 23px;
    color: #fff;
}
.logo:hover{
    color: #fff;
    text-decoration:none;
}
.header-rl-container {
    width: 771px;
}
#main-nav {
    float: left;
}
nav#main-nav select {
    display: none;
}
#main-nav ul {
    margin: 0;
    padding: 0;
}
#main-nav li {
    float: left;
    list-style: none outside none;
    margin: 0;
}
#main-nav ul li li:first-child {
    border-top: medium none;
}
#main-nav .current > a {
    background-color: #fff;
    color: #294860;
}
#main-nav .current li.current a, #main-nav .current li.current li.current a {
    background-color: #294860;
    border-top: medium none;
    color: #fff !important;
    margin-top: 0;
    padding-top: 12px;
}
#main-nav a:hover {
    background-color: #fff;
    color: #294860;
    text-shadow: none;
}
#main-nav a {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    padding-bottom: 0;
    padding-top: 30px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.sf-menu li > a {
    font-family: 'Oswald',Arial,Helvetica,sans-serif;
    padding-bottom: 30px !important;
    padding-left: 17px;
    padding-right: 17px;
    text-transform: uppercase;
}
.sf-menu, .sf-menu * {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.sf-menu {
    line-height: 1;
}
.sf-menu ul {
    margin-top: 0 !important;
    position: absolute;
    top: -999em;
}
#main-nav ul.sf-menu li:first-child ul {
    margin-left: 0 !important;
}
.sf-menu ul ul {
    margin: 0 !important;
}
.sf-menu ul li {
    width: 150px;
}
.sf-menu li:hover {
    visibility: inherit;
}
.sf-menu li {
    float: left;
    position: relative;
}
.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    left: 0;
    text-shadow: none;
    top: 74px;
    z-index: 99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top: -999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    left: 150px !important;
    top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
    top: -999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
    left: 100em;
    top: 0;
}
.sf-menu li li {
    background-color: #565A60;
    margin: 0 !important;
}
#main-nav .current li.current li a {
    background-color: #535961;
    color: #FFFFFF;
}
.sf-menu li li a {
    color: #FFFFFF !important;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    padding-top: 15px !important;
    text-shadow: none !important;
    text-transform: none !important;
}
.sf-menu li li a:hover {
    background: none repeat scroll 0 0 #fff !important;
    color: #294860 !important;
}
.block-0-content-container {
    background-color: #FFFFFF;
    height: 252px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.block-1-content-container {
    background-color: #ff6c5d;
    transition: all 0.3s ease 0s;
}
.block-2-content-container {
    background-color: #EDDA06;
    transition: all 0.3s ease 0s;
}
.block-3-content-container {
    background-color: #DECB01;
    transition: all 0.3s ease 0s;
}
.block-1-content-container:hover, .block-2-content-container:hover, .block-3-content-container:hover {
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
}


    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

   

body{
/* font-family: "Whitney SSm A","Whitney SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #303030;   
    background-color: #fff;
}

.padding-top{
     margin-bottom: 80px;   
}

/* TOP NAVIGATION BAR */

.header{
     width: 100%;
    height: 40px;
    background-color: #294860;
    
}

.author-bar{
   font-size: 14px;
  color: #bbb;
  margin: 0 0 17px; 
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
}

.author-bar img{
    margin-right: 10px;   
    border-radius: 16px;
}

.separator{
    margin-left: 10px;
    margin-right: 10px;
}

/*
.logo a{
     color: #fff;
    margin-top: 8px;
    padding-top: 8px;
    font-size: 23px;
}

.logo a:hover{
     text-decoration: none;   
}
*/

/*
.nav ul{
    margin-top: 8px;   
}

.nav ul li{
     display: inline;   
    padding-left: 40px;
    padding-top: 10px;
}

.nav ul li a{
    margin-top: 8px;
    font-weight: 400;
     color: #f2f2f2;   
}
*/

/* END OF TOP NAVIGATION */

/* FEATURE BOX */

pre{
     margin: 0;
    padding: 0;
    border: none;
    text-align: left;
}

.featured-top{
     width: 100%;
    height: 300px;
    background-color: #f3f3f3;
    
}

.course-box{
    height: auto;
    margin-bottom: 40px;
}


.course-box h2 a{
     color: white;   
}

/* END OF FEATURE BOX */

/* Content code */

.post-box{
     width: 100%;
    height: 200px;
    background-color: #fff;
}

.latest-posts{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    background-color: #Fff;
}

.latest-posts h3{
 letter-spacing: 2px;   
}


.latest-posts h2{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 40px;
    color: #307699;
}
.latest-posts h3{
    line-height: 25px;   
}

/*This is the container for both post and sidebar*/

.content{
    border-top: 60px solid #f3f3f3;
}
.post-cont{
    background-color: #fff;
    width: 100%;
    height: auto;
    padding-top:40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.post-title h2{
    padding-top: 0;
    font-weight: 100 !important;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 40px;
      letter-spacing: 2px;
    color: #333;
}
.post-cont h3{
    font-size: 28px;
    letter-spacing: 2px;
}

.post-title p{
    color: #aaa;
    padding-bottom: 20px;
}

.post-image img{
     margin-bottom: 20px;   
    z-index: 10;
}

.post-content h1,h2,h3,h4,h5,h6{
    font-family: bitter, 'Helvetica-neue', helvetica, sans-serif;
}



/*SIDEBAR*/

.sidebar h1,h2,h3,h4,h5,h6{
    font-family: dense, 'Helvetica-neue', helvetica, sans-serif;
}

.sidebar{
    border-left: 1px solid #f3f3f3;   
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar h2{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    letter-spacing: 2px;
}

.sidebar ul{
    margin: 0;
    margin-left: 20px;
    padding: 0;
}
/* FOOTER CODE */

.footer{
    border-top: 60px solid #f3f3f3; 
    padding-top: 40px;
    height: auto;
    background-color: #fff;
}

.footer h3{
    font-size: 26px;   
    letter-spacing: 2px;
}

.footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer ul li a{
      line-height: 1.9em;
    color: #b7b7b7;   
}

.footer p{
    color: #b7b7b7;   
}

.footer-connect li{
     display: inline;
    margin-right: 10px;
}