
$navColor: #333;
$lightGray: #FAFAFA;
$aqua: #46B6AC;
$pink: #FF4081;
$break-small: 320px;
$break-large: 1200px;


body{
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.related-posts{
    margin-top: 60px;
    margin-bottom: 80px;
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;
    padding-bottom: 60px;
    border-bottom: 1px solid #E3E3E3;
    h4{
        margin-bottom: 40px;
    }
    
    .demo-card-square.mdl-card {
        width: 320px;
        height: 260px;
        h3{
          color: white;  
          position: absolute;
          bottom: 20px;
        }
    }
    .demo-card-square > .mdl-card__title {
        color: #fff;
        background: #821232;
        background-image: url('images/background.svg');
        background-size: 100%;      

     }
  
}

.header {
  width: 100%;    
  background-color: #3F4B5B;
  border-bottom: 2px solid #252B37;
  border-radius: 0;    
  color: white;
    .navbar{
      @extend .header;
      height: 60px;
      padding-top: 10px;
      
      h4{
          text-align: center;
      }
    }
    
    .small-menu{
        
        ul{
            width: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            
            li{
                border-top: 1px solid #fff;
            }
        }
    }
    
    a{
      color: white !important;
    }
    
}

.featured-bar{
     @media screen and (max-width: $break-small) {
        height: 600px;
    }
    @media screen and (min-width: $break-large) {
        height: 400px;
    }
   
    width: 100%;
    text-align: center;
    background: url('../images/hero.jpg') center / cover;
    padding-top: 100px;
    padding-bottom: 40px;
    
    h2{
      color: white;
      font-size: 52px;
      font-weight: 100;
    }
    
    h4{
      margin-top: 60px;
      line-height: 30px;
      font-weight: 500;
      color: white;
      
    }
}

.price-tables{
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  background-color: $lightGray;
  
  h2{
    padding-bottom: 40px;
  }
  
  .pricing-cards{
    padding: 20px;
   
    h2{
      float: left;
      font-size: 20px;
      padding-bottom: 30px;
    }
    .monthly-price{
      float: right;
      color: $aqua;
      font-weight: 100;
    }
    
    ul{
      
    }
    li:before {    
        font-family: 'Material Icons';
        color: $aqua;
        margin:0 5px 0 -15px;
    }
  }
}

.content{
  background-color: $lightGray;  
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
  min-height: 800px;
  .demo-card-wide.mdl-card {
    width: 100%;
    margin-top: 40px;
    .mdl-card__supporting-text{
      
        white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
    }
    
    .mdl-card__title{
      color: #fff !important;
      height: 176px;
      background: $aqua;
    }
    
    .mdl-card__menu {
      color: #fff;
    }
  }
}

.post-content{
  @extend .content;
  background-color: white;
  word-wrap: break-word;
   
   .related-posts{
       h2{
           color: #fff !important;
       }
   }
   
    h1, h2{
    font-family: inherit;
    font-weight: 200;
    line-height: 1.1;
    color: #79589F;
  }
  
  img {
      width: 100%;
      height: auto;
  }
  
  pre {
        font-size: 18px;
        line-height: 21px;
        overflow: auto;
        word-wrap: normal;
        white-space: pre;
  }
  
}

.search-results{
    
    margin-top: 40px;
    
    .result{
        padding-bottom: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        height: 150px;
        border-bottom: 1px solid #e3e3e3;
        
        img{
            height: 110px;
            width: 176px;
        }

    }
   
    
}

.social-sidebar-share{
    
    margin-bottom: 20px;
    
    a{
        color: white;
    }
    
    a:hover{
        color: #E3E3E3;
    }
        color: #fff;
        text-align: center; 
    .twitter{
        background-color: #2BB5DC;
        width: 100%;
        height: 80px;     
    }
    .facebook{
        background-color: #5F90B0;
        width: 100%;
        height: 80px; 
    }
    i{
        font-size: 35px;
        margin-top: 12px;
        padding: 15px;
    }  
    .google{
        background-color: #DA4A38;
        width: 100%;
        height: 80px;
    }
    
    .email{
        
        background-color: #E2793C;
        width: 100%;
        height: 80px;
    }


    .counter{
            background-color: #085368;
            width: 30%;
            height: 50px;
            color: white;
            text-align: center;
            padding: 10px;
            padding-top: 13px;
            float: left;
     }
     
     .share-button{
         background-color: #007090;
         color: white;
        text-align: center;
        padding: 10px;
        padding-top: 13px;
        width: 70%;
        height: 50px;
        float: right;
     }
}
.latest-articles{
  
  background-color: white;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
  
  .article-header{
      color: #333;
  }
  
  .excerpt{
    
        white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  }
  
  h2{
    margin-bottom: 40px;
        color: #fff;
  }
  .demo-card-image.mdl-card {
    width: 256px;
    height: 256px;
    background: $pink;   
   
  }
  .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
  }
  .demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }  
  
  .demo-card-wide.mdl-card {
    width: 100%;
    margin-top: 40px;

    .mdl-card__title {
      color: #fff;
      height: 176px;
      background: $pink;
    }
    
    .mdl-card__menu {
      color: #fff;
    }
    
  }
}

.about-us{
  padding-top: 60px;
  padding-bottom:60px;
  
}

.facebook{
  background-color: #4670A5 !important;
}

.twitter{
  background-color: #00BEEA !important;
}

.post-container{
    @media screen and (max-width: $break-small) {
        width: 100%;
        margin: auto;
    }
    @media screen and (min-width: $break-large) {
        width: 80%;
        margin: auto;
    }
}

.course-content{
    
    .course-image{
        img{
            margin: auto;
            margin-bottom: 20px;
        }
    }
    
}

.post{
  background-color: white;
  padding: 40px;
  font-size: 28px !important;
  
  .post-header h2{
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .post-author{ 
    float: left;
    p{
      color: #bdbebd;
    font-size: .8em;
    }
    img{
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  } 
  
  .post-info{
    margin-bottom: 20px;
    float: left;
  }
  
  .post-content{
    margin-top: 20px;
    padding: 0;
    margin: 0;
    p{
      line-height: 1.6;
      font-size: 16px;
      margin: 0;
      padding: .5em 0;
      font-weight: 200;
      color: #606060;
    }
    
    ul{
      li{
      font-size: 16px !important;
      }
    }
    .tableofcontents{
      
      border-left: 1px solid #79589F;
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-left: 20px;
      margin-top: 20px;
      
      li{
        margin-top: 5px;
        font-size: 16px !important;
        
        a{
          color: #79589F;
          text-decoration: none;
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
  }
  
  .post-image{
      img {
          width: 100%;
          height: 430px;
          margin-bottom: 20px;
      }
  }
  
  .post-info p{
    margin: 0 !important;
    padding: 0;
    color: #b1b1b1;
  }
  
  .post-share{
    float: right;
  }
  
  #disqus_thread{
    margin-top: 40px;
  }
  
}

.picture-background{
    background-color: #464E78;
    width: 100%;
    height: 400px auto;
      text-align: center;
    background: url('../images/hero.jpg') center / cover;
    padding-top: 80px;
    color: white;
    padding-bottom: 40px;
    h2{
        font-size: 48px;
    }
    
    h4{
        
        font-size:32px ;
    }
    
    .mdl-button{
        background-color: #EC6A5C;
        padding-left:40px;
        color: white;
        padding-right: 40px;
        font-size: 17px;
        margin-top: 40px;
    }
    
    p{
        font-size: 18px;
    }
}
.featured-banner{
    color: white;
    margin-top: 0px;
    width: 100%;
    height: 400px auto;
    padding-bottom: 50px;
    background: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    .red-circle-bg{
        
        text-align: center;
        margin: auto;
        margin-top: 60px;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 6em;
        color: #fff;
        width: 200px;
        line-height: 200px;
        background: #b52a2f;
        border-radius: 50%;
        border: 1px solid #8c2024; 
        opacity: 0.9;
    }

    h2{
        text-align: center; 
        margin-top: 20px;
        padding-top: 0;
    }

    small{
        color: #f4f4f3;   
    }
     
}

.banner{
    padding-top: 60px;
    padding-bottom: 60px;
     width: 100%;
    height: 382px auto;
    background-color: #f5f5f5;
    border-top: 1px solid #E3E3E3;
     h2{
        margin-bottom: 20px;   
        font-weight: 100;
    }
    p{
        font-size: 16px;   
    }
    .circle-bg{
        margin:auto;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        background-color: #39ADD1;
        color: #fff;
        
        text-align: center;  
        font-size: 30px;
        .fa{
            margin-top: 40px;   
        }
    }
    
}
.post-share{
  
  .twitter{
    background-color: #00BBF2 !important;
  }
  
  .facebook{
    background-color: #4D70A8 !important;
  }
  
}

.sidebar{
  
  padding-top: 40px;
  
}

.similar-posts{
  background-color: $lightGray;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}


.clear{
  clear:both;
}

.padding{   
    margin-top: 20px;
    margin-left: 15px;
}

.patreon img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.profile-cont{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
}