body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.related-posts {
  margin-top: 60px;
  margin-bottom: 80px;
  border-top: 1px solid #E3E3E3;
  padding-top: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #E3E3E3; }
  .related-posts h4 {
    margin-bottom: 40px; }
  .related-posts .demo-card-square.mdl-card {
    width: 320px;
    height: 260px; }
    .related-posts .demo-card-square.mdl-card h3 {
      color: white;
      position: absolute;
      bottom: 20px; }
  .related-posts .demo-card-square > .mdl-card__title {
    color: #fff;
    background: #821232;
    background-image: url("images/background.svg");
    background-size: 100%; }

.header, .header .navbar {
  width: 100%;
  background-color: #3F4B5B;
  border-bottom: 2px solid #252B37;
  border-radius: 0;
  color: white; }
  .header .navbar {
    height: 60px;
    padding-top: 10px; }
    .header .navbar h4 {
      text-align: center; }
  .header .small-menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .header .small-menu ul li {
      border-top: 1px solid #fff; }
  .header a, .header .navbar a {
    color: white !important; }

.featured-bar {
  width: 100%;
  text-align: center;
  background: url("../images/hero.jpg") center/cover;
  padding-top: 100px;
  padding-bottom: 40px; }
  @media screen and (max-width: 320px) {
    .featured-bar {
      height: 600px; } }
  @media screen and (min-width: 1200px) {
    .featured-bar {
      height: 400px; } }
  .featured-bar h2 {
    color: white;
    font-size: 52px;
    font-weight: 100; }
  .featured-bar h4 {
    margin-top: 60px;
    line-height: 30px;
    font-weight: 500;
    color: white; }

.price-tables {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  background-color: #FAFAFA; }
  .price-tables h2 {
    padding-bottom: 40px; }
  .price-tables .pricing-cards {
    padding: 20px; }
    .price-tables .pricing-cards h2 {
      float: left;
      font-size: 20px;
      padding-bottom: 30px; }
    .price-tables .pricing-cards .monthly-price {
      float: right;
      color: #46B6AC;
      font-weight: 100; }
    .price-tables .pricing-cards li:before {
      font-family: 'Material Icons';
      color: #46B6AC;
      margin: 0 5px 0 -15px; }

.content, .post-content {
  background-color: #FAFAFA;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
  min-height: 800px; }
  .content .demo-card-wide.mdl-card, .post-content .demo-card-wide.mdl-card {
    width: 100%;
    margin-top: 40px; }
    .content .demo-card-wide.mdl-card .mdl-card__supporting-text, .post-content .demo-card-wide.mdl-card .mdl-card__supporting-text {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important; }
    .content .demo-card-wide.mdl-card .mdl-card__title, .post-content .demo-card-wide.mdl-card .mdl-card__title {
      color: #fff !important;
      height: 176px;
      background: #46B6AC; }
    .content .demo-card-wide.mdl-card .mdl-card__menu, .post-content .demo-card-wide.mdl-card .mdl-card__menu {
      color: #fff; }

.post-content {
  background-color: white;
  word-wrap: break-word; }
  .post-content .related-posts h2 {
    color: #fff !important; }
  .post-content h1, .post-content h2 {
    font-family: inherit;
    font-weight: 200;
    line-height: 1.1;
    color: #79589F; }
  .post-content img {
    width: 100%;
    height: auto; }
  .post-content pre {
    line-height: 1.5 !important;
    font-size: 15px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    line-height: 21px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre; }

.search-results {
  margin-top: 40px; }
  .search-results .result {
    padding-bottom: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 150px;
    border-bottom: 1px solid #e3e3e3; }
    .search-results .result img {
      height: 110px;
      width: 176px; }

.social-sidebar-share {
  margin-bottom: 20px;
  color: #fff;
  text-align: center; }
  .social-sidebar-share a {
    color: white; }
  .social-sidebar-share a:hover {
    color: #E3E3E3; }
  .social-sidebar-share .twitter {
    background-color: #2BB5DC;
    width: 100%;
    height: 80px; }
  .social-sidebar-share .facebook {
    background-color: #5F90B0;
    width: 100%;
    height: 80px; }
  .social-sidebar-share i {
    font-size: 35px;
    margin-top: 12px;
    padding: 15px; }
  .social-sidebar-share .google {
    background-color: #DA4A38;
    width: 100%;
    height: 80px; }
  .social-sidebar-share .email {
    background-color: #E2793C;
    width: 100%;
    height: 80px; }
  .social-sidebar-share .counter {
    background-color: #085368;
    width: 30%;
    height: 50px;
    color: white;
    text-align: center;
    padding: 10px;
    padding-top: 13px;
    float: left; }
  .social-sidebar-share .share-button {
    background-color: #007090;
    color: white;
    text-align: center;
    padding: 10px;
    padding-top: 13px;
    width: 70%;
    height: 50px;
    float: right; }

.latest-articles {
  background-color: white;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px; }
  .latest-articles .article-header {
    color: #333; }
  .latest-articles .excerpt {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important; }
  .latest-articles h2 {
    margin-bottom: 40px;
    color: #fff; }
  .latest-articles .demo-card-image.mdl-card {
    width: 256px;
    height: 256px;
    background: #FF4081; }
  .latest-articles .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2); }
  .latest-articles .demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500; }
  .latest-articles .demo-card-wide.mdl-card {
    width: 100%;
    margin-top: 40px; }
    .latest-articles .demo-card-wide.mdl-card .mdl-card__title {
      color: #fff;
      height: 176px;
      background: #FF4081; }
    .latest-articles .demo-card-wide.mdl-card .mdl-card__menu {
      color: #fff; }

.about-us {
  padding-top: 60px;
  padding-bottom: 60px; }

.facebook {
  background-color: #4670A5 !important; }

.twitter {
  background-color: #00BEEA !important; }

@media screen and (max-width: 320px) {
  .post-container {
    width: 100%;
    margin: auto; } }
@media screen and (min-width: 1200px) {
  .post-container {
    width: 80%;
    margin: auto; } }

.course-content .course-image img {
  margin: auto;
  margin-bottom: 20px; }

.post {
  background-color: white;
  padding: 40px;
  font-size: 28px !important; }
  .post .post-header h2 {
    font-size: 48px;
    margin-bottom: 20px; }
  .post .post-author {
    float: left; }
    .post .post-author p {
      color: #bdbebd;
      font-size: .8em; }
    .post .post-author img {
      width: 50px;
      height: 50px;
      margin-right: 20px; }
  .post .post-info {
    margin-bottom: 20px;
    float: left; }
  .post .post-content {
    margin-top: 20px;
    padding: 0;
    margin: 0; }
    .post .post-content p {
      line-height: 1.6;
      font-size: 16px;
      margin: 0;
      padding: .5em 0;
      font-weight: 200;
      color: #606060; }
    .post .post-content ul li {
      font-size: 16px !important; }
    .post .post-content .tableofcontents {
      border-left: 1px solid #79589F;
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-left: 20px;
      margin-top: 20px; }
      .post .post-content .tableofcontents li {
        margin-top: 5px;
        font-size: 16px !important; }
        .post .post-content .tableofcontents li a {
          color: #79589F;
          text-decoration: none;
          font-weight: 500;
          font-size: 15px; }
  .post .post-image img {
    width: 100%;
    height: 430px;
    margin-bottom: 20px; }
  .post .post-info p {
    margin: 0 !important;
    padding: 0;
    color: #b1b1b1; }
  .post .post-share {
    float: right; }
  .post #disqus_thread {
    margin-top: 40px; }

.picture-background {
  background-color: #464E78;
  width: 100%;
  height: 400px auto;
  text-align: center;
  background: url("../images/hero.jpg") center/cover;
  padding-top: 80px;
  color: white;
  padding-bottom: 40px; }
  .picture-background h2 {
    font-size: 48px; }
  .picture-background h4 {
    font-size: 32px; }
  .picture-background .mdl-button {
    background-color: #EC6A5C;
    padding-left: 40px;
    color: white;
    padding-right: 40px;
    font-size: 17px;
    margin-top: 40px; }
  .picture-background p {
    font-size: 18px; }

.featured-banner {
  color: white;
  margin-top: 0px;
  width: 100%;
  height: 400px auto;
  padding-bottom: 50px;
  background: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .featured-banner .red-circle-bg {
    text-align: center;
    margin: auto;
    margin-top: 60px;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 6em;
    color: #fff;
    width: 200px;
    line-height: 200px;
    background: #b52a2f;
    border-radius: 50%;
    border: 1px solid #8c2024;
    opacity: 0.9; }
  .featured-banner h2 {
    text-align: center;
    margin-top: 20px;
    padding-top: 0; }
  .featured-banner small {
    color: #f4f4f3; }

.banner {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 382px auto;
  background-color: #f5f5f5;
  border-top: 1px solid #E3E3E3; }
  .banner h2 {
    margin-bottom: 20px;
    font-weight: 100; }
  .banner p {
    font-size: 16px; }
  .banner .circle-bg {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #39ADD1;
    color: #fff;
    text-align: center;
    font-size: 30px; }
    .banner .circle-bg .fa {
      margin-top: 40px; }

.post-share .twitter {
  background-color: #00BBF2 !important; }
.post-share .facebook {
  background-color: #4D70A8 !important; }

.sidebar {
  padding-top: 40px; }

.similar-posts {
  background-color: #FAFAFA;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px; }

.clear {
  clear: both; }

.padding {
  margin-top: 20px;
  margin-left: 15px; }

.patreon img {
  width: 100%;
  height: auto;
  margin-bottom: 20px; }

.profile-cont {
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 40px; }

/*# sourceMappingURL=site-style.css.map */
