/*
* Plugin name: simple syntax highlighter
* Author: Elliot Forbes
* 
* Usage: Creative Commons - Use wherever you like but buy me a beer
* if you ever meet me in person.
*/

/* Source Code Font Imports */

@font-face {
    font-family: source-code-light;
    src: url('../fonts/source-code-font/TTF/SourceCodePro-Regular.ttf');
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic,400,300italic,700,700italic);

#highlight{
}

/* DISPLAYING THE CODE */

#code {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1c384d ;
    border: 1px solid #D9EAF2;
    border-bottom: 2px solid #D9EAF2;
    padding: 20px;
    color: #fff;
    line-height: 23px;
    font-family: source-code-light;
}

/* SQL Specific Code colours */

.sc{
    color: #1481b8;   
}

.k1{
     color: #2aa6fb;   
}

.k2{
     color: #78A9C0;   
}

.k3{
     color: #07dc34;   
}

.comments{
    color: #07dc34  !important;   
}

.string{
     color: #09a;   
}